<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= CustomerioNotifier.get_user_name(@user)%>,</p>
    <p>
      You had placed a request to export CloudStreet Service Advisor Recommendations Report.</br>Your CloudStreet report is ready to download.
    </p></br>
    <p>Please download attached CSV files.</p>

    <p>Thanks,<br>The CloudStreet Team</p>
  </body>
</html>