<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Administrator, </p>
    <p>
      Attached is the weekly summary for CloudStreet: <%=  %>.<br>
    </p>

    <p>Thanks</p>
  </body>
</html>